.border-top {
    border-top: 1px solid #111111;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#Crest {
    vertical-align: middle;
    width: 100px;
}

.Header {
    text-align: center;
    font-weight: 300%;
    color: #924b4b;
    border: 1px solid black;
}
.Body{
    background-color: #ECECEC;
}
.AyudaComentarios{
    line-height: 200%;
    border: 1px solid black;
    background-color:  #F3F3F3;
}
#NavBar{
    border: 1px solid black;
    color: #2E2E2E;
}